{% extends "base.html.twig" %}

{% block title %}
    PLOP {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }} LA {{ parent() }} {{ block('title') }}
{% endblock %}

{% block body %}

    <a href="{{ url('app_hello', { name: "Bob", req: "r" }) }}">ICI</a>

    {{ dump(category) }}

    <h2>{{ category.title | length }}</h2>

    {% if example is not defined or example < 5 %}
        Afficher pas d'example
    {% endif %}

    {{ category.title }} plop {{ category.title }}
    {{ category.title ~ ' plop ' ~ category.title }}

    <hr />

    {% set tabs = [] %}

    {% if tabs|length > 0 %}
        {% for i in tabs %}
            {{ loop.first }} -
            {{ loop.last }} -
            {{ loop.index0 is odd }} -
            <div class="toto">{{ loop.index }}</div>
            {{ i }}<br />
        {% endfor %}
    {% else %}
        Aucun résultat
    {% endif %}


    {% for i in tabs %}
        {{ loop.first }} -
        {{ loop.last }} -
        {{ loop.index0 is odd }} -
        <div class="toto">{{ loop.index }}</div>
        {{ i }}<br />
    {% else %}
        Aucun résultat
    {% endfor %}


    {# IICi #}

    <!-- LA -->
{% endblock %}